.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    font-family: 'Space Grotesk', sans-serif;
}

.nav-menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.nav-contact
{
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #48c6ef);
    cursor: pointer;
    transition: 0.5s;
}

.nav-contact:hover
{
    transform: scale(1.05);
}