.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    text-align: center;
    padding: 20px 50px;
}

.nav-menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.nav-menu li {
  position: relative;
  padding-bottom: 8px;
  cursor: pointer;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #48c6ef);
  border-radius: 2px;
  transition: 0.4s ease;
}

.nav-menu li.active::after {
  width: 100%;
}


.nav-contact
{
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #48c6ef);
    cursor: pointer;
    transition: 0.5s;
}

.nav-contact:hover
{
    transform: scale(1.05);
}

.anchor-link
{
    text-decoration: none;
    color: white;
}

.nav-menu-close{
  display: none;
}

.nav-menu-open{
   display: none;
}

@media(max-width:768px){
  .navbar
  {
    margin: 0 auto;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .nav-contact
  {
    display: none;
  }
  .nav-menu-open
  {
    display: block;
    position: fixed;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    z-index: 2;
  }
  .nav-menu-close
  {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 60px;
    width: 30px;
    cursor: pointer;
  }
  .nav-menu
  {
    position: fixed;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: start;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    background-color: #1f0016;
    z-index: 2;
  }

  .nav-menu li
  {
    font-size: 30px;
    padding: 10px;
    flex-direction: row;
    gap: 20px;
  }
}