.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    font-family: 'Space Grotesk', sans-serif;
}

.nav-menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.nav-menu li {
  position: relative;
  padding-bottom: 8px;
  cursor: pointer;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #48c6ef);
  border-radius: 2px;
  transition: 0.4s ease;
}

.nav-menu li.active::after {
  width: 100%;
}


.nav-contact
{
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #48c6ef);
    cursor: pointer;
    transition: 0.5s;
}

.nav-contact:hover
{
    transform: scale(1.05);
}

.anchor-link
{
    text-decoration: none;
    color: white;
}